.tiptap > * + * {
  margin-top: 0.75em;
}

.ProseMirror:focus {
  outline: none;
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.bubble-menu {
  display: flex;
  background-color: #0d0d0d;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.bubble-menu button {
  border: none;
  background: none;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 0.2rem;
  opacity: 0.6;
}

.bubble-menu button:hover,
.bubble-menu button.is-active {
  opacity: 1;
}

.floating-menu {
  display: flex;
  background-color: rgba(13, 13, 13, 0.1);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.floating-menu button {
  border: none;
  background: none;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 0.2rem;
  opacity: 0.6;
}

.floating-menu button:hover,
.floating-menu button.is-active {
  opacity: 1;
}
